<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9_eAoH_dVzoo3CqZ4ZqRQssyUHRNj2QM</string>
	<key>GCM_SENDER_ID</key>
	<string>386752507656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.celtaware.inventario</string>
	<key>PROJECT_ID</key>
	<string>celtamobile-7d69a</string>
	<key>STORAGE_BUCKET</key>
	<string>celtamobile-7d69a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386752507656:ios:669a772b9702d2e114c6bd</string>
	<key>DATABASE_URL</key>
	<string>https://celtamobile-7d69a-default-rtdb.firebaseio.com</string>
</dict>
</plist>